
* {
    font-family: 'Roboto', sans-serif;
}
body{
    background: #EEE0E5;
}


.navbar {
    background-color: rgb(85, 82, 82);
    border-color: #E7E7E7;
}

.navbar a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold; 
    
}

.navbar ul {
    align-items: center;
}

.navbar img{
    width:300px;
    height:auto;
}

.sunset{
   width:100%;
   height:100%;
   padding-bottom: 15px;
}

.titulo{
    color:red;
}

.square {
    background:gray;
    width:80%;
    border: 25px solid; 
    border-color: gray; 
    margin: 15px auto 0 auto;
    text-align: center;
    text-transform: uppercase;
   
}

.square p {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 24px;
    line-height: 50px;
}

.square h1 {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 120px;
    font-weight: bold;
    line-height: 80px;
    margin-bottom: 3px;
    margin-left: 40px;
}

.card {
    background:#696969;
    border-color: #FF8C00;
}
.card i{
    color:#696969;
}

footer{
    background:#696969;
}

footer li {
    color:white;
    list-style-type:none;
}

footer .footer-1 {
    display: flex;
}

.banner-right {
    width:100%;
    height:auto;
}



